@import url("https://use.typekit.net/ijo7yff.css");
@import url("https://use.typekit.net/ijo7yff.css");

body {
    background-color: #373e98;
    font-family: 'roc-grotesk-wide', sans-serif;
    position: relative;
    padding-bottom: 75px;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

/* header and titles section */

.navbar {
    background-color: #373e98;
}

.navbar-brand {
    color: #ffffff !important;
    margin: auto;
}

.nav-item a {
    color: #ffffff !important;
}

#navbar-links {
    margin-left: auto !important; 
    margin-right: 0 !important;
}


/* modal */
.modal {
    position: absolute;
    background-color: #202020;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 50%;
    width: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border-radius: 10px;
    border: 5px #ff9a18 solid;
}

.modal-heading {
    color: #ff0000;
    margin: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

.modal-octocat {
    width: 10rem;
}

.speech {
    color: #c2b280;
    position: relative;
    width: 22rem;
    height: 8rem;
    text-align: center;
    background-color: #202020;
    border: 4px solid #ff9a18;
    border-radius: 30px;
    z-index: 1000;
    margin-bottom: 1rem;
    padding: 1rem;
}

.speech:after,
.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    z-index: 1001;
}

.speech:after {
    right: 68px;
    border: 12px solid;
    border-color: #202020 transparent transparent #202020;
}

.speech:before {
    right: 66px;
    border: 15px solid;
    border-color: #ff9a18 transparent transparent #ff9a18;
}

.modal-close-button,
.modal-replay-button {
    background-color: #ff9a18;
    color: #202020;
    margin: auto;
    padding: 10px;
    min-width: 110px;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: 3px #c2b280 solid;
}

.game-header {
    padding: 20px;
    text-align: center;
}

h2 {
    font-family: cortado;
    color: white;
    font-size: 1.5rem;
}

h1 {
    font-family: 'roc-grotesk-wide', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    font-size: 4rem;

}

/* Timer */
.timer {
    font-size: 5rem;
    color: #fee36e;
}

/* cards section */
.card {
    display: inline-block;
    height: 120px;
    width: 120px;
    margin: 15px;
}

.card-back {
    background-image: url('../images/question-mark-card.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.emoji {
    width: 100%;
}

/* levels section */
.easy-level,
.medium-level,
.hard-level {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.easy-level {
    max-width: 650px;
}

.medium-level {
    max-width: 750px;
}

.hard-level {
    max-width: 900px;
}

/* instructions section */


.instructions-header {
    color: #ffffff;
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.instructions {
    color: #ffffff;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: 3px #fee36e solid;
    border-radius: 5px;
}

.instructions h4 {
    font-size: 1.5rem;
}

.instructions p {
    margin-bottom: 5px;
   
}

/* buttons section */

.btn {
    background-color: #fee36e;
    color: #373e98;
    min-width: 100px;
    margin: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'roc-grotesk-extrawide', sans-serif;
    font-size: .8rem;
}

.reset {
    font-size: larger;
    padding: 10px;
    min-width: 110px;
}

/* scores and moves counter */
#score,
.movescounter {
    background-color: #fee36e;
    color: #373e98;
    max-width: 100px;
    margin: auto;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'roc-grotesk-extrawide', sans-serif;
    font-size: .8rem;
}

#score {
    padding: 5px;
}


.movescounter {
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
}

/* hover section */
.navbar-brand h2 {
    color: #202020;
}

.card:hover {
    animation-name: div-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: #ff9a18 0px 20px 30px;
}

.easy:hover,
.medium:hover,
.hard:hover,
.play:hover {
    color: #202020;
    animation-name: div-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.easy:hover {
    background-color: #28921e;
    border: 3px solid #28921e;
    box-shadow: 0px 20px 30px #28921e;
}

.medium:hover {
    background-color: #fffc00;
    border: 3px solid #fffc00;
    box-shadow: 0px 20px 30px #fffc00;
}

.hard:hover {
    background-color: #ff0000;
    border: 3px solid #ff0000;
    box-shadow: 0px 20px 30px#ff0000;
}

.reset:hover {
    background-color: #ff9a18;
    box-shadow: 0px 20px 30px #ff9a18;
    border: 3px #ff9a18 solid;
}

.modal-close-button:hover,
.modal-replay-button:hover {
    background-color: #ff9a18;
    box-shadow: 0px 20px 30px #ff9a18;
    border: 3px #ff9a18 solid;
}



/* other */

@keyframes div-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.hide {
    display: none;
}