th {
    color: #fff;
}

td {
    color: #fff;
}

.bg-info {
    background-color: #565dc1 !important;
}

.footer {
    background-color: #fee36e;
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
}

.footer-container {
    width: 100%;
    height: 75px;
}